/*** base ***/
body {
    font-size: 15px;
}

.navbar {
    padding: 0px 20px;
    background: #464646;
    color: white;
}
.navbar .pure-menu-heading, .navbar .pure-menu-heading:visited {
    text-transform: none;
    font-weight: bold;
    color: white;
}
.navbar .pure-menu-selected a, .navbar .pure-menu-selected a:visited {
    color: white;
}
.navbar a {
    color: #cccccc;
}
.navbar .pure-menu-item a:hover,
.navbar .pure-menu-item a:focus {
    background: none;
    border: none;
    color: #aaaaaa;
}
.navbar ul {
    float: right;
}

.contents {
    width: 640px;
    margin: 4ex auto 0;
}

.unsupported {
    color: red;
}

/*** index.html ***/
.start-button {
    text-align: center;
    padding: 20px 0;
}

.history {
    margin-bottom: 0;
}
.history-expander {
    text-align: right;
}

.social-buttons {
    margin: 1em 0;
    float: right;
}

/*** install.html ***/
.instructions {
    margin-bottom: 4ex;
}
.instructions .step {
    margin-bottom: 1ex;
}

.files ul {
    list-style-type: none;
}
.files li {
    color: #0078e7;
}
.files li.notready {
    color: #808080;
}
.files li.notready:after {
    content: " (未選択)";
}

.install-failed {
    color: red;
}

#preload {
    visibility: hidden;
}

/*** play.html ***/
.bgblack-fade {
    background-color: black;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.pnacl-status {
    color: #999999;
}

#contents {
    margin: 0 auto;
    width: 640px;
}

#zoom {
    float: right;
    height: 30px;
    background-color: #101010;
    color: #eeeeee;
    font-size: small;
    font-weight: bold;
    border: none;
    box-shadow: none;
}

body > iframe {
    width: 1px;
    height: 1px;
    visibility: hidden;
}

/*** tools.html ***/
#uploadResult {
    color: red;
}
