/*** base ***/
body {
    font-size: 15px;
}

.navbar {
    padding: 0px 20px;
    background: #464646;
    color: white;
}
.navbar .pure-menu-heading, .navbar .pure-menu-heading:visited {
    text-transform: none;
    font-weight: bold;
    color: white;
}
.navbar .pure-menu-selected a, .navbar .pure-menu-selected a:visited {
    color: white;
}
.navbar a {
    color: #cccccc;
}
.navbar .pure-menu-item a:hover,
.navbar .pure-menu-item a:focus {
    background: none;
    border: none;
    color: #aaaaaa;
}
.navbar ul {
    float: right;
}

@media(max-width:540px) {
    .navbar {
	padding: 0px;
	overflow: auto;
    }

    .navbar .pure-menu-heading {
	display: none;
    }

    .navbar ul {
        float: none;
    }
}

.contents {
    max-width: 640px;
    margin: 4ex auto 0;
}

.unsupported {
    color: red;
}

/*** index.html ***/
.start-button {
    text-align: center;
    padding: 20px 0;
}

.history {
    margin-bottom: 0;
}
.history-expander {
    text-align: right;
}

.social-buttons {
    margin: 1em 0;
    float: right;
}

/*** install.html ***/
.instructions {
    margin-bottom: 4ex;
}
.instructions .step {
    margin-bottom: 1ex;
}

.files ul {
    list-style-type: none;
}
.files li {
    color: #0078e7;
}
.files li.notready {
    color: #808080;
}
.files li.notready:after {
    content: " (未選択)";
}

.install-failed {
    color: red;
}

.link-to-advanced-installer {
    text-align: right;
}

.link-to-advanced-installer a {
    font-size: small;
    color: #808080;
}

#preload {
    visibility: hidden;
}

/*** Chromeﾆｲﾚﾙｿﾞ.html ***/
summary {
    margin: 1ex 0;
    font-weight: bold;
}

details p {
    margin: 1ex 0 1ex 40px;
}

/*** play.html ***/
.bgblack-fade {
    background-color: black;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.pnacl-status {
    color: #999999;
}

#contents {
    margin: 0 auto;
    width: 640px;
}

#zoom {
    float: right;
    height: 30px;
    background-color: #101010;
    color: #eeeeee;
    font-size: small;
    font-weight: bold;
    border: none;
    box-shadow: none;
}

#volume-control {
    float: right;
    margin-right: 20px;
}

#volume-control-icon {
    font-size: 20px;
    width: 20px;
    padding: 5px;
    vertical-align: middle;
    color: white;
}

#volume-control-slider {
    width: 60px;
    height: 30px;
    vertical-align: middle;
}

body > iframe {
    width: 1px;
    height: 1px;
    visibility: hidden;
}

/*** tools.html ***/
#uploadResult {
    color: red;
}
